*.swp
*.bak
*.tmp
*.log
*__pycache__/
mpd/*
!mpd/mpd.conf
*database*
.netrwhist

# specific database files
.config/dconf/user
.config/gtk-2.0/gtkfilechooser.ini
.config/mpd/database
.config/mpd/state
.config/Thunar/accels.scm
